<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <style>
body, html {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  </style>
</head>

<body>
  <div id="container">
    <span>&lt;Enter&gt; to save score change</span>
    <table>
      <tr><td>Name</td><td>Score</td></tr>
      <tr v-for="player in players">
        <td>
          {{player.name}}
        </td>
        <td>
          <input :disabled="!inputEnabled" type="number" v-model.number="player.score" @change="changeScore(player.name, player.score)">
        </td>
        <td>
          <button @click="removePlayer(player.name)">remove</button>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" v-model="newName" @keyup.enter="addPlayer">
        </td>
        <td>
          <button :disabled="!addEnabled" @click="addPlayer">New Player</button>
        </td>
      </tr>
    </table>
    <span>{{errorMessage}}</span>
  </div>
  <script src="vue.js"></script>
  <script src="admin.js"></script>
</body>

</html>
